/* 
/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Helvetica Ultracondensed;
    font-style: normal;
    font-weight: normal;
    src: url('../../css/fonts/HelveticaUltraCompressed.otf');
}

html {
    background: black;
    font-family: Helvetica Ultracondensed;
    scroll-behavior: smooth;
}

/* End Reset */



/* Utility Classes*/




/* End Utility Classes*/



/* Variables */

:root{
    /* Colors */
    --CONTAINER-COLOR:  rgba(14, 14, 14, 0.904);
    --TEXT-COLOR: rgb(255, 255, 255);
    --TEXT-HOVER-COLOR: rgba(168, 168, 168, 0.822);

    /* Shadow */
    --BANNER-SHADOW: 0rem .5rem 1vw rgb(0, 0, 0);
    --PHOTO-SHADOW: 0rem 0vw 2rem rgb(0, 0, 0);
    --S-TEXT-SHADOW: 0rem 0rem 0.125em rgb(0, 0, 0);
    --TEXT-SHADOW: 0rem 0rem 0.055em rgb(0, 0, 0);
    --VIDEO-TEXT-SHADOW: 0rem 0rem 1vw rgb(0, 0, 0);
    --VIDEO-TITLE-SHADOW: 0rem 0rem 1vw rgb(0, 0, 0);

    /* Size */
    --VIDEO-WIDTH: 150px 10% 1000px
    --ICON-WIDTH: 40px;
    --ICON-HEIGHT: 5px;
    --TRANSLATE-Y: 12px;
    --TRANSLATE-X-MINUS: -20px;

}



/* Utility Containers */

.merchpage{
    display: flex;
    flex-flow: row nowrap;
    padding: 2rem;
    justify-content: space-around;
    align-items: flex-start;
}

#modal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    position: fixed;
    height: 100vh;
    width: 100vw;
    animation: showModal .15s ease-in;
}

#modal img{
    height:45vw;
    width:45vw;
    border:.5rem solid white;
}

.hidden {
    display: none;
    background-color: transparent;
    width: 0;
    height: 0;
    /* animation: closeModal .5s ease-in-out; */
}

/* End Utility Containers */



/* Flexboxes */

#banner{
    background-color: black;
    width: 100vw;
}

.footerbox{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--TEXT-COLOR);
}

.lower{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: var(--TEXT-COLOR);
    font-size: clamp(20px, 3.5vw, 80px);
    gap: 3vw;
    padding: 1vw;
    
}

.logocontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



#bannerlinks{
    display: flex;
    color: var(--TEXT-COLOR);
    font-size: clamp(20px, 3vw, 80px);
    gap: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1rem;
    padding-left: .5rem;
    background-color: black;

}

.separator{
    margin-bottom: .5rem;
    width: 100%;
}

.merchtextbox{
    width:50%;
    flex-flow: column wrap;
    align-items: center;
}

.merchname h2{
    align-self: flex-start;
    font-size: clamp(10px, 6vw, 250px);
    color: white;
    margin-top:0;
}

.merchdesc p{
    font-size: clamp(10px, 3vw, 250px);

}

#itembox{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 40%;
}

.photobox{
    height: 50px;
    width: 50px;
}

.photorow{
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    gap: 3vw;
    background-color: rgba(0, 0, 0, 0.171);
    height: 100%;
    width: 100%;
}


.imagecontainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin: 0;
}

.arrow-bg img:hover{
    background-color: rgba(26, 26, 26, 0.658);
}

.arrow-bg img:active{
    background-color: black;
}

.arrow-bg img{
    flex: 1;
    background-color: rgba(226, 226, 226, 0.089);
    background-size: cover;
    width: clamp(2rem, 4vw, 7rem);
    height: clamp(2rem, 4vw, 7rem);
}

.btmerch{
    display: flex;
    font-size: clamp(20px, 2vw, 50px);
    padding: .5rem;
    background-color: black;
    width: 100vw;
}

/* End Flexboxes*/



/* Flexbox Elements */

.bannername{
    width:clamp(200px, 25vw, 750px);
    padding-bottom: 1rem;
}

#backtotop:hover{
    opacity: 75%;
}

.btmerch:hover{
    color: var(--TEXT-HOVER-COLOR);
}

#backtotop a:any-link .statement{
    color: var(--TEXT-COLOR);
    text-decoration: none;
}

#backtotop .statement{
    font-size: clamp(20px, 3vw, 250px);
    text-shadow: var(--S-TEXT-SHADOW);
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.cover{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1000;
}

.logo{
    width:clamp(50px, 5vw, 100px);
    aspect-ratio: 1 / 1;
    margin-right: 2rem;
    z-index: 1000;
}

#topbanner{
    display: flex;
    flex-direction: row;
    background-color: black;
    left: 0;
    top: 0; 
    width: 100%;
}

/* End Flexbox Elements */



/* Element Elements */

.merchimage {
    width:clamp(225px, 25vw, 500px);
    aspect-ratio: 1/1;
    z-index: 0;
    border: 1px solid white;
}

.merchtext{
    color: var(--TEXT-COLOR);
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
    margin-right: 10%;
    text-shadow: var(--S-TEXT-SHADOW);
    white-space: wrap;
}

/* End Element Elements */



/* Fundamental Changes */
footer{
    width:100%;
    background-color: black;
    position: relative;
}

li{
    list-style-type: none;
    text-wrap: nowrap;
}

a:hover img{
    background-color: rgba(0, 0, 0, 0.363);
    opacity: .75;
}

h3 {
    color: var(--TEXT-COLOR);
    font-size: clamp(25px, 10vw, 200px);
}

p {
    color: var(--TEXT-COLOR);
    font-size: clamp(25px, 5vw, 75px);
}

a{
    color:var(--TEXT-COLOR);
}

a:hover, a p:hover{
    color:var(--TEXT-HOVER-COLOR);
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: rgba(43, 43, 43, 0.493);
}

header{
    margin: 0;
    padding: 0;
}

/* End Fundamental Changes */



/*Responsive Layout*/
@media screen and (max-width:1100px){

    #banner.open{
        display: flex;
        flex-flow: column;
        transform-origin: top center;
        height: 100%;
        animation: openMenu .2s ease-in-out forwards;
    }
    
    #bannernav{
        display : none;
        animation: openMenu .2s ease-in-out forwards;
    }

    #banner{
        display: flex;
        flex-flow: column;
        background-color: black;
        left: 0;
        top: 0; 
        width: 100%;
        z-index: 5;
    }

    #menubuttoncontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
    }

    #menubutton{
        background-color: transparent;
        width:100%;
        height:100%;
        position: relative;
        border: none;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-right: 2vw;
    }

    #menuicon,
    #menuicon::before,
    #menuicon::after{
        background-color: var(--TEXT-COLOR);
        width:30px;
        height:3px;
        border-radius: 2px;
        position: absolute;
        transition: all 0.3s ease;
    }

    #menuicon::before{
        content:"";
        transform: translate(-15px, -9px);
    }

    #menuicon::after{
        content:"";
        transform: translate(-15px, 9px);
    }   

    #menuicon.open{
        background-color: transparent;
        transform: rotate(720deg);
    }

    #menuicon.open::before{
        transform: translateX(-16px) rotate(45deg);
    }

    #menuicon.open::after{
        transform: translateX(-16px) rotate(-45deg);
    }

    #bannernav.open{
        display:block;
        justify-content: center;
        align-items: center;
        transform-origin: top center;
        width: 100%;
        z-index: 5;
    }
    
    #bannerlinks {
        list-style-type: none;
        display: none;
        border: none;
        
    }

    #bannerlinks.open {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        transform-origin: top center;
        height: 80%;
        width: 100%;
        position:absolute;
        gap: 0;
        padding: 0;
    }

    #bannerlinks.open li{
        padding: 0.5rem;
        background-color: black;
        border: 1rem solid black;
        transform-origin: top center;
    }

    #bannerlinks.open a{
        display: block;
        text-align: center;
        width: 100%;
        margin: auto;
        font-size: min(35px, 25vw);
    }
    
    #topbanner{
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: flex-start;
        z-index: 0;
        transform-origin: top center;
        width: 100%;
    }

    .bannername{
        height:clamp(15px, 14vw, 750px);
        width:auto;
        padding-bottom: 0;
        margin-top: .1rem;
        margin-left: .1rem;
    }

    .footerbox{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        justify-content: space-between;
    }

    .lower{
        flex-direction: column;
        gap:0;
        margin:0;
        padding:0;
        width:50%;
        height:100%;
    }

    .lower li{
        width:100%;
        text-align: center;
        border-top: .1vw solid var(--TEXT-COLOR);
        border-right: .1vw solid var(--TEXT-COLOR);
        padding: 1vw;
    }

    .lower li a:hover{
        color:var(--TEXT-HOVER-COLOR);
    }

    .logo{
        width:clamp(100px, 50%, 500px);
        justify-self: center;
        align-self: center;
        aspect-ratio: 1 / 1;
        height:auto;
        z-index: 1000;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
    }

    .logocontainer{
        display: flex;
        flex-direction: column;
        width:50%;
        height:100%;
        padding: 0;
    }

    #menuicon.open{
        background-color: transparent;
        transform: rotate(720deg);
    }

    #menuicon.open::before{
        transform: translateX(-16px) rotate(45deg);
    }

    #menuicon.open::after{
        transform: translateX(-16px) rotate(-45deg);
    }


    .merchtextbox{
        width:100%;
        flex-flow: column wrap;
    }

    .merchname h2{
        font-size: clamp(50px, 6vw, 250px);
        text-align: center;
        color: white;
        margin-bottom: 0;
    }

    .merchdesc p{
        font-size: clamp(30px, 4vw, 250px);
        text-align: center;

    }

    .btmerch{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: clamp(20px, 2vw, 50px);
    }

    #itembox{
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        gap: 0rem;
        width: 100%;
    }

    .merchpage{
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }

    .arrow-bg img{
        flex: 1;
        background-color: rgba(226, 226, 226, 0.089);
        background-size: cover;
        font-size: clamp(1rem, 3vw, 5rem);
        width: 35px;
        height: 35px;
    }

    .photorow{
        padding: .5rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        gap: 3vw;
        background-color: rgba(0, 0, 0, 0.171);
        height: 100%;
        width: 100%;
    }

    .merchimage {
        width:70%;
        aspect-ratio: 1/1;
        z-index: 0;
        border: 1px solid white;
    }

    .imagecontainer {
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .separator{
        display: none;
    }

    #modal img{
        height:80vw;
        width:80vw;
        margin-top: -23rem;
        border:.2rem solid white;
    }
}

@media screen and (min-width:1100px){
    #menubuttoncontainer{
        display: none;
    }
}

@media screen and (min-width:648px) and (max-width: 857px){

}

@media screen and (min-width:557px) and (max-width: 647px){

}

@media screen and (max-width:429px){

}

@media screen and (min-width: 722px) and (max-width:933px){

    #modal img{
        margin-top: 5rem;
        height:80vh;
        width:80vh;
        border:.2rem solid white;
    }

}

/*End Responsive Layout*/



/*  Animations  */

@keyframes showModal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes openMenu {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
